body{
    background-color: #F78181;
    font-family: 'Courier New', Courier, monospace;
    color:black ;
}
.col{
    background-color: white;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
.p1{
    font-family: 'Courier New', Courier, monospace;
    color:black;
}
.p2{
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
}